# Service account credentials (Google Cloud Console > IAM & Admin > Service Accounts)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQ...\n-----END PRIVATE KEY-----\n"

# The Google Sheet to update. ID is the long string in the sheet's URL:
# https://docs.google.com/spreadsheets/d/<THIS_PART>/edit
GOOGLE_SHEET_ID=1d3KJ2U3I8AtFCjaT6EIYXcdiCBR7XstygaPII5Fc3cY

# Optional: the sheet tab name, if different from the default below.
GOOGLE_SHEET_TAB=List Family Haji Zakaria (Size Baju)
